  .code-box-demo {
    text-align: center;
  }
  .lawHeader , .lawFooter {
    color: #fff;
    background: #000 !important;
  }
  .lawFooter {
    line-height: 1.5;
  }
  .ant-layout-content {
    min-height: 120px;
    color: #fff;
    background: #3d524b;
  }

  .code-box-demo > .ant-layout + .ant-layout {
    margin-top: 48px;
  }