  .code-box-demo {
    text-align: center;
  }
  .lawHeader{
    color: #fff;
    background: linear-gradient(#222e2a,#3d524b);

  }
  .lawFooter {
    color: #fff;
    background: linear-gradient(#3d524b,#222e2a);
  }
  .ant-layout-content {
    min-height: 120px;
    color: #fff;
    background: #3d524b;
  }

  .code-box-demo > .ant-layout + .ant-layout {
    margin-top: 48px;
  }