  .code-box-demo {
    text-align: center;
  }
  .lawHeader {
    color: #fff;
    background: linear-gradient(#222e2a,#65887c);
  }
  .lawFooter {
    background: linear-gradient(#65887c,#222e2a);
  }
  .lawFooter {
    line-height: 1.5;
  }
  .ant-layout-content {
    min-height: 120px;
    color: #fff;
    background: #65887c;
  }

  .code-box-demo > .ant-layout + .ant-layout {
    margin-top: 48px;
  }