.lawLayout{
  margin-top:30px;
  background:#3d524b;
  margin-bottom: 50px;
  margin-right: 15px;
  margin-left: 15px;
}
.lawSider{
    background: #FFF !important;
    box-shadow:3px 3px 5px 6px #000;
    border-radius:15px;
  }
.lawContent{
    background: #FFF !important;
    margin-left: 20px;
    box-shadow:3px 3px 5px 6px #000;
    border-radius:15px;
  }
.lawSearchInput{
}
.lawTree{
  border-radius:15px !important;
}
.lawTable{
  margin-top:12px;
}

